@import "tailwindcss";

@theme {
  --color-cyber-black: #050505;
  --color-cyber-dark: #0a0a12;
  --color-cyber-primary: #7000df;
  --color-cyber-secondary: #00f0ff;
  --color-cyber-accent: #ff0055;
}

/* HTML ve Body rengini zorla siyah yapıyoruz (Garanti Çözüm) */
:root, body {
  background-color: #050505 !important; 
  color: white !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Glassmorphism */
.glass-panel {
  background: rgba(20, 20, 30, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(112, 0, 223, 0.3);
}

.neon-text {
  text-shadow: 0 0 10px rgba(0, 240, 255, 0.7);
}